%h1.text-white.font-weight-bold.mb-3.mt-5.display-3
  Weather

%p.lead.text-white
  View the weather in your area.

.d-flex.mt-3.mb-1
  = link_to 'View my weather', '#', class: 'btn btn-dark btn-raised text-uppercase btn-lg mt-md-3', role: 'button'
